@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto+Condensed:wght@700&family=Roboto:wght@300;400&family=Langar&display=swap");
:root {
  --primary-color: #446df6;
  --dark-color: #0c1618;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #0c1618;
  height: 100vh;
}

/* the Panel */
.Panel {
  display: grid;
  grid-template-columns: 200px calc(100% - 200px);
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.Panel .drawer-scrim {
  z-index: 100;
}
.Panel .side-drawer {
  background-color: var(--primary-color);
  position: fixed;
  width: 200px;
  height: 100vh;
  transition: all 0.3s;
}
.Panel .page-content {
  grid-column-start: 2;
  max-width: 100%;
}

@media screen and (max-width: 780px) and (min-width: 540px) {
  .Panel {
    grid-template-columns: 100px calc(100% - 100px);
  }
  .Panel .side-drawer {
    width: 100px;
  }
}

@media screen and (max-width: 540px) {
  .Panel {
    grid-template-columns: 0px 100%;
  }
  .Panel .drawer-scrim.opened {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .drawer-scrim .side-drawer {
    transform: translateX(-100%);
  }
  .drawer-scrim.opened .side-drawer {
    transform: translateX(0);
  }
  .page-content main {
    margin-top: 70px;
  }
}

/* views */
/* dashboard */
section.dashboard-cards {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
}
section.dashboard-cards .card {
  height: 100%;
}
section.dashboard-cards .dashboard-card-column {
  padding: 15px;
  position: relative;
  display: grid;
  justify-items: center;
  padding-bottom: 75px;
  height: 100%;
}
section.dashboard-cards .user-info {
  font-family: "Roboto condensed", sans-serif;
}
section.dashboard-cards .user-info .avatar {
  width: 35vw;
  height: 35vw;
  max-width: 230px;
  max-height: 230px;
  min-width: 150px;
  min-height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

section.dashboard-cards .user-info .job,
section.dashboard-cards label {
  font-size: 0.95rem;
  color: #0c1618b0;
}
section.dashboard-cards .user-info .item-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}
section.dashboard-cards .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 10px;
}
section.dashboard-cards .item label {
  text-transform: capitalize;
}
section.dashboard-cards .item .value {
  font-size: 1rem;
  font-weight: 700;
}
section.dashboard-cards .user-info a.resume {
  display: block;
  margin: 20px 0;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
section.dashboard-cards .user-info a.resume:hover {
  border-color: var(--primary-color);
}

/* about section/card  */
section.dashboard-cards .about-me p,
section.dashboard-cards .badge {
  padding: 10px 0;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
/* skill section/card  */
section.dashboard-cards .badges-container {
  justify-self: start;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin: 5px 0;
}
section.dashboard-cards .badges-container .badge {
  display: block;
  padding: 5px 10px;
  margin: 4px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 3px;
}

/* dashboard general styes */
section.dashboard-cards h2 {
  font-family: "Roboto condensed", sans-serif;
}
section.dashboard-cards .edit-btn {
  position: absolute;
  bottom: 15px;
  background-color: transparent;
  border-radius: 50%;
  font-size: 1.2rem;
  height: 50px;
  width: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}

section.dashboard-cards .edit-btn:hover {
  background-color: #f1f1f1;
}
section.dashboard-cards .dashboard-card-column:hover .edit-btn {
  display: flex;
}

@media screen and (max-width: 970px) {
  section.dashboard-cards {
    grid-template-columns: 1fr;
  }
}

/* projects */
main.projects {
  padding: 30px;
}
main.projects .project-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  position: relative;
}
main.projects .add-project-btn {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 2px 3px 5px #999;
  font-size: 1.2rem;
}
/* messages */
main.message-view {
  padding: 25px 0;
  width: 100%;
}
main.message-view .message-tab-btns {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  border-bottom: 1px solid #e2e2e2;
}
.message-tab-btns .tab-btn {
  width: 33.33%;
  min-width: 130px;
  background-color: #fff;
  padding: 20px;
  color: #446df68f;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 100;
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  transition: border-color 0.5s ease;
}
.message-tab-btns .tab-btn.active {
  transition: border-color 0.5s ease;
  font-weight: 500;
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.message-tab-btns .tab-btn:hover {
  background-color: #f2f2f2;
}
.tab-btn span {
  font-size: 1rem;
  color: var(--primary-color);
  padding: 0 10px;
}
.tab-btn .badge {
  background-color: var(--primary-color);
  color: #fff;
  margin-left: 5px;
  border-radius: 20px;
  padding: 2px 10px;
}

/* message list */
main.message-view .message-body {
  padding: 20px;
}
.message-body .message-list {
  display: grid;
  row-gap: 10px;
  padding: 15px 0;
}
.message-list .message-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px 0;
  box-shadow: 0px 3px 5px #ccc;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  font-family: "Roboto condensed", sans-serif;
}
.message-list .message-item:hover {
  border-color: var(--primary-color);
  background-color: #f1f1f1;
}
.message-item .sender-email {
  color: #0c1618b0;
  font-size: 0.9rem;
}
.message-item .message {
  width: 100%;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}
.message-item.unread .message {
  font-weight: 700;
}
.message-item .right {
  font-size: 0.9rem;
  width: 20%;
  color: #0c1618b0;
  text-align: right;
}

/* error */
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--dark-color);
  text-align: center;
}
.error h1 {
  font-size: 3.5rem;
  font-family: "Roboto condensed", sans-serif;
}
.error span {
  font-size: 1.5rem;
  display: block;
  margin: 15px 0;
}
.error h3 {
  font-size: 2.5rem;
}
